@charset "UTF-8";
$w: 32;
$wp: 26;
@media screen and (min-width: 600px) {
  nav {
    background-color: #EEE;
    opacity: 0.75;
    height: 70rem/$w;
    padding: 0 20rem/$w;
    position: fixed;
    width: 100%;
    z-index: 10;

    .img{
      display: none;
    }
    .ul-be{
      display: block;
      margin: 0;
      li {
        margin: 10rem/$w 20rem/$w;
        line-height: 50rem/$w;
        height: 50rem/$w;
        font-size: 24rem/$w;
        float: left;
        .item {
          text-decoration: none;
          color: #111;
          .title{
            width: 50rem/$w;
            line-height: 50rem/$w;
            position: relative;
            top: -4rem/$w;
          }
        }
        .item:hover{
          text-decoration: none;
          color: #EE82ee;

        }
      }
    }
  }

  footer {
    padding: 0 20rem/$w;
    ul {
      li {
        display: inline-block;
        padding: 10rem/$w;
        a {
          text-align: center;
          img {
            height: 50rem/$w;
            width: 50rem/$w;
            border-radius: 50%;
          }
          span {
            display: block;
            padding: 5rem/$w;
            font-size: 18rem/$w;
          }
        }
      }
    }
  }
  .bgImg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 2000rem/$w;
    text-align: right;
    p {
      position: fixed;
      top: 100rem/$w;
      right: 30rem/$w;
      span {
        display: block;
        font-style: italic;
        font-size: 16rem/$w;
      }
    }
  }
  .slide{
    position: relative;

    .kankan{
      position: relative;
      text-align: center;
      top: -300rem/$w;
      color: white;
      width: 200px;
      font-size: 50rem/$w;
      margin: 0 auto;
    }
    img{
      width: 100%;
    }
    .carousel-caption{
      font-size: 50rem/$w;
      font-family: "Lantinghei SC Extralight", Arial;
      color: lawngreen;
    }
  }
  .box {
    padding: 70rem/$w 20rem/$w 10rem/$w;
    width: 100%;
    position: relative;
    .phone,
    .pc {
      width: 100%;
      h2 {
        font-size: 24rem/$w;
        text-align: center;
      }
      ul {

        li {
          display: inline-block;
          padding: 10rem/$w 20rem/$w;
          a {
            text-align: center;
            display: block;
            padding: 10rem/$w;
            box-shadow: 2rem/$w 2rem/$w 10rem/$w #C0C0C0;
            img {
              height: 50rem/$w;
              width: 50rem/$w;
              border-radius: 50%;
              border: 1rem/$w solid pink;
            }
            span {
              display: block;
              padding: 5rem/$w;
              font-size: 20rem/$w;
            }
          }
        }
      }


      .pcA{

        display: block;
        margin:  0 auto;
        width: 360rem/$w;
        height:200rem/$w;
        box-shadow: 10px 10px 5px #999;
        img{
          height: 200rem/$w;
          width: 360rem/$w;
        }
      }

    }
    .drawP,
    .lun,
    .learn{
      h2 {
        font-size: 24rem/$w;
      }
      ul {
        li {
          a {
            padding: 10rem/$w 20rem/$w;
            color: blue;
            font-size: 20rem/$w;
            text-decoration: none;
          }
          a:hover{
            color: green;
            text-decoration: none;

          }
        }
      }
    }
  }
  .bei {
    text-align: center;
    padding-bottom: 10px;
    a {
      font-size: 16rem/$w;
      color: blue;
    }

  }
  .search{
    padding: 10rem/$w 20rem/$w;
    table{
      width: 200rem/$w;
      text-align: center;
      padding-top: 10rem/$w;
      thead{
        tr{
          text-align: center;

          th{
            text-align: center;
          }
        }
      }
      tbody{
        .center{
          text-align: center;
        }
        tr{
          padding: 2rem/$w 10rem/$w;
          td{
            margin-right: 20rem/$w;
            a{
              text-decoration: none;
              color: blue;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 70rem/$wp;
    padding: 0/$wp;
    position: fixed;
    width: 100%;
    z-index: 10;
    .img{
      display: block;
      height: 60rem/$wp;
      margin: 2rem/$wp 20rem/$wp;
      z-index: 99999;
      position: absolute;
      top: 0rem/$wp;
      right: 1rem/$wp;
      cursor: pointer;
    }
    .nav-ul {
      display: block;
      background-color: black;
      position: relative;
      top: -60rem/$wp;
      z-index: 9999;
      text-align: center;
      opacity: 0.7;
      li {
        width: 100%;
        line-height: 60rem/$wp;
        height: 60rem/$wp;
        text-align: center;
        border-bottom: 1px solid #ee82ee;
        padding: 0;
        a.item {
          color:#fff;
          display: block;
          text-align: center;
          font-size: 30rem/$wp;
          line-height: 60rem/$wp;
          height: 60rem/$wp;
          width: 100%;
          text-decoration: none;
          .title{
            width: 60rem/$w;
            line-height: 60rem/$w;
            position: relative;
            //top: -4rem/$w;
          }
        }
        a:hover{
          color: #58ff11;
        }

      }
    }
    ul {
      display: none;
    }
  }

  footer {
    padding: 0 20rem/$wp;
    ul {
      li {
        display: inline-block;
        padding: 10rem/$wp;

        a {
          text-align: center;
          display: block;
          img {
            height: 50rem/$wp;
            width: 50rem/$wp;
            border-radius: 50%;
          }
          span {
            display: block;
            padding: 5rem/$wp;
            font-size: 20rem/$wp;
          }
        }
      }
    }
  }

  .bgImg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 2000rem/$wp;
    text-align: right;
    p {
      float: left;

      position: fixed;
      top: 480rem/$wp;
      right: 30rem/$wp;
      span {
        display: block;
        font-style: italic;
        font-size: 16rem/$wp;
      }
    }

  }

  .slide{
    position: relative;

    .kankan{
      position: relative;
      text-align: center;
      top: -300rem/$w;
      color: green;
      width: 100px;
      font-size: 50rem/$w;
      margin: 0 auto;
    }
    img{
      width: 100%;
    }
    .carousel-caption{
      font-size: 50rem/$wp;
      font-family: "Lantinghei SC Extralight", Arial;
      color: lawngreen;
    }
  }
  .box {
    padding: 70rem/$w 10rem/$w 10rem/$w 20rem/$w;
    position: relative;
    hr{
      margin: 2px;
    }

    .phone,
    .pc {
      h2 {
        font-size: 32rem/$wp;
      }
      ul {
        li {
          display: inline-block;
          padding: 10rem/$wp 20rem/$wp;
          a {
            text-align: center;
            display: block;
            padding: 10rem/$wp;
            box-shadow: 2rem/$wp 2rem/$wp 10rem/$wp #C0C0C0;
            img {
              height: 70rem/$wp;
              width: 70rem/$wp;
              border-radius: 50%;
              border: 1rem/$wp solid pink;
            }
            span {
              display: block;
              padding: 5rem/$wp;
              font-size: 26rem/$wp;
            }
          }
        }
      }
      .pcA{
        display: block;
        margin:  0 auto;
        width: 500rem/$wp;
        height: 300rem/$wp;
        box-shadow: 10px 10px 5px #999;
        img{
          width: 500rem/$wp;
          height: 300rem/$wp;
        }
      }
    }
    .drawP,
    .lun,
    .learn{
      h2 {
        font-size: 32rem/$wp;
      }
      ul {
        li {
          a {
            padding: 10rem/$wp 20rem/$wp;
            color: blue;
            font-size: 26rem/$wp;
          }
        }
      }
    }
  }

  .search{
    padding: 10rem/$wp 20rem/$wp;

    table{
      width: 300rem/$wp;
      text-align: center;
      form{
        input{
          border: none;
          outline: none;
        }
      }

      thead{
        tr{
          text-align: center;

          th{
            text-align: center;
          }
        }
      }
      tbody{
        font-size: 30rem/$wp;
        .center{
          text-align: center;
        }
        tr{
          padding: 2rem/$wp 10rem/$wp;
          td{
            margin-right: 20rem/$wp;
            a{
              text-decoration: none;
              color: blue;
            }
          }
        }
      }
    }
  }

  .bei {
    text-align: center;
    padding-bottom: 10px;
    a {
      font-size: 16rem/$wp;
      color: blue;
    }
  }

}

.test {
  padding: 70rem/$w 20rem/$w 10rem/$w;
}

