@charset "UTF-8";
@w: 32rem;
@wp: 26rem;

@media screen and (min-width: 500px) {

  nav {
    background-color: #EEE;
    opacity: 0.7;
    height: 70/@w;
    padding: 0 20/@w;
    position: fixed;
    width: 100%;
    z-index: 10;
    ul {
      li {
        padding: 10/@w 20/@w;
        line-height: 50/@w;
        height: 50/@w;
        font-size: 24/@w;
        float: left;
        a {
          color: #111;
        }
      }
    }
  }

  footer {
    padding: 0 20/@w;
    ul {
      li {
        display: inline-block;
        padding: 10/@w;

        a {
          text-align: center;
          display: block;
          img {
            height: 50/@w;
            width: 50/@w;
            border-radius: 50%;
          }
          span {
            display: block;
            padding: 5/@w;
            font-size: 18/@w;
          }
        }
      }
    }
  }

  .bgImg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 2000/@w;
    text-align: right;
    p {
      position: fixed;
      top: 100/@w;
      right: 30/@w;
      span {
        display: block;
        font-style: italic;
        font-size: 16/@w;
      }
    }
  }
  .slide{
    //position: relative;
    //padding: 70/@w 0 10/@w;
    //margin-top: 70/@w;
    //padding-top: 70/@w;
    //text-align: center;
    img{
      //position: relative;left: -10px;
      width: 100%;
      //height: 20%;
    }
    .carousel-caption{
      font-size: 50px;
      font-family: "Lantinghei SC Extralight", Arial;
      color: lawngreen;
    }
  }


  .box {
    padding: 70/@w 20/@w 10/@w;
    width: 100%;
    position: relative;
    .phone,
    .pc {
      width: 100%;
      h2 {
        font-size: 24/@w;
        text-align: center;
      }
      ul {
        li {
          display: inline-block;
          padding: 10/@w 20/@w;
          a {
            text-align: center;
            display: block;
            padding: 10/@w;
            box-shadow: 2/@w 2/@w 10/@w #C0C0C0;
            img {
              height: 50/@w;
              width: 50/@w;
              border-radius: 50%;
              border: 1/@w solid pink;
            }
            span {
              display: block;
              padding: 5/@w;
              font-size: 20/@w;
            }
          }
        }
      }


      .pcA{
        display: block;
        margin:  0 auto;
        width: 50%;
        box-shadow: 10px 10px 5px #999;
        img{
          width: 100%;
        }
      }

    }
    .drawP,
    .lun {
      h2 {
        font-size: 24/@w;
      }
      ul {
        li {
          a {
            padding: 10/@w 20/@w;
            color: blue;
            font-size: 20/@w;
          }
        }
      }
    }
  }

  .bei {
    text-align: center;
    padding-bottom: 10px;
    a {
      font-size: 16/@w;
      color: blue;
    }

  }

}

@media screen and (max-width: 500px) {

  body{
    overflow-x: hidden;
  }
  nav {
    background-color: #EEE;
    opacity: 0.7;
    height: 70/@wp;
    padding: 0 20/@wp;
    position: fixed;
    width: 100%;
    z-index: 10;
    ul {
      li {
        padding: 10/@wp 20/@wp;
        line-height: 50/@wp;
        height: 50/@wp;
        font-size: 30/@wp;
        float: left;
        a {
          color: #111;
        }
      }
    }
  }

  footer {
    padding: 0 20/@wp;
    ul {
      li {
        display: inline-block;
        padding: 10/@wp;

        a {
          text-align: center;
          display: block;
          img {
            height: 50/@wp;
            width: 50/@wp;
            border-radius: 50%;
          }
          span {
            display: block;
            padding: 5/@wp;
            font-size: 20/@wp;
          }
        }
      }
    }
  }

  .bgImg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 2000/@wp;
    text-align: right;
    p {
      float: left;

      position: fixed;
      top: 480/@wp;
      right: 30/@wp;
      span {
        display: block;
        font-style: italic;
        font-size: 16/@wp;
      }
    }

  }


  .box {
    padding: 70/@w 10/@w 10/@w 20/@w;
    //width: 100%;
    position: relative;
    hr{
      margin: 2px;
    }

    .phone,
    .pc {
      h2 {
        font-size: 32/@wp;
      }
      ul {
        li {
          display: inline-block;
          padding: 10/@wp 20/@wp;
          a {
            text-align: center;
            display: block;
            padding: 10/@wp;
            box-shadow: 2/@wp 2/@wp 10/@wp #C0C0C0;
            img {
              height: 70/@wp;
              width: 70/@wp;
              border-radius: 50%;
              border: 1/@wp solid pink;
            }
            span {
              display: block;
              padding: 5/@wp;
              font-size: 26/@wp;
            }
          }
        }
      }
      .pcA{
        display: block;
        margin:  0 auto;
        width: 70%;
        box-shadow: 10px 10px 5px #999;
        img{
          width: 100%;
        }
      }
    }
    .drawP,
    .lun {
      h2 {
        font-size: 32/@wp;
      }
      ul {
        li {
          a {
            padding: 10/@wp 20/@wp;
            color: blue;
            font-size: 26/@wp;
          }
        }
      }
    }
  }


  .bei {
    text-align: center;
    padding-bottom: 10px;
    a {
      font-size: 16/@wp;
      color: blue;
    }
  }

}

.test {
  padding: 70/@w 20/@w 10/@w;
}