@font-face {
    font-family: 'fontnameRegular';
    src: url('fontname.eot');
    src: local('fontname Regular'),
    local('fontname'),
    url('fontname.woff') format('woff'),
    url('fontname.ttf') format('truetype'),
    url('fontname.svg#fontname') format('svg');
}