@charset "UTF-8";
/*声明变量*/
/*-------------------resetCSSS-----------------------*/
a,
input,
button {
  /* 清楚点击阴影 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #000;
}
a:hover,
a:focus {
  /*color: black;*/
  text-decoration: none;
}
input,
button {
  /* 清除按钮圆角 iOS */
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  margin: 0;
  /* 禁止用户选中文字 */
  -webkit-user-select: none;
  /* 禁止文字缩放 */
  -webkit-text-size-adjust: 100%;
  /*s设置字体*/
  font-family: Times New Roman, Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'fontnameRegular';
  /*src: url('fontname.eot');*/
  src: url('notosanshans regular.otf');
  /*src: local('fontname Regular'),
  local('fontname'),
  url('fontname.woff') format('woff'),
  url('fontname.ttf') format('truetype'),
  url('fontname.svg#fontname') format('svg');*/
}